body: {
  overflow-x: hidden;
}

.feature {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-top: 5px solid #3EA5C2;
}
.feature::after {
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.feature h1 {
  margin-top: 20%;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 60pt;
  color: white;
}
.feature h1:before, .feature h1:after {
  content: " ";
  border: 1px solid #3ea5c2;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}


#header::after {
  background-image: url("Background.png");
  background-position-y: -20em;
}
#essay {
  top: 100%;
}
#essay::after {
  background-color: yellow;
}
#photography {
  top: 200%;
}
#photography::after {
  background-color: red;
}
#painting {
  top: 300%;
}
#painting::after {
  background-color: orange;
}


.down {
  position: absolute;
  bottom: 15%;
	width: 20px;
	height: 20px;
	border-left: 2px solid #195319;
	border-bottom: 2px solid #195319;
	transform: rotate(-45deg);
}
#down {
  bottom: 10%;
}


.quote-content {
  quotes: """ """;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 28pt;
  color: #227DC2;
  line-height: 1.5em;
  padding: 1em 0;
}
.quote-content:before {
  content: open-quote;
  font-family: 'Catamaran', sans-serif;
  font-size: 48pt;
  color: #043E6B;
}
.quote-content:after {
  content: close-quote;
  font-family: 'Catamaran', sans-serif;
  font-size: 48pt;
  color: #043E6B;
}

footer {
  bottom: -310%;
}
