<html>

  <head>
    <meta charset="UTF-8" />
    <title>Ari Navetta | {{ title }}</title>
    <link rel="stylesheet" href="about-style.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="essays.html"><li>Writing</li></a>
        <a href="painting.html"><li>Painting</li></a>
        <a href="photography.html"><li>Photography</li></a>
      </ul>
    </div>

    <div class="up"></div>

    <div style="height: 100%;" class="content">
      <div class="flex">
        <h1 class="content-heading">About Ari</h1>
        <img id="column1" src="portrait.png" height="45%" width="40%">
        <div class="content-text-main" id="column2">
          <p>I'm Ari, an undergrad at Tufts University studying cognitive & brain sciences. I love cooking, baking - not to mention eating - as well as playing guitar, painting and bumbling around Photoshop. Enjoy looking around at my amateur efforts into these areas and please reach out if you have any questions, comments or ideas!</p>
          <p>Please feel free to check out my <a href="https://www.linkedin.com/in/arinavetta/">LinkedIn</a>, <a href="resume.pdf">resumé</a> and <a href="https://www.instagram.com/arisnav">Instagram</a></p>
        </div>
      </div>
    </div>



    <footer>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Copyright @ Ari Navetta 2020</li>
      </ul>
    </footer>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js.js"></script>

</html>
