<html>

  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="about-style.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="Macbeth.html"><li>Essays</li></a>
        <li>Photography</li>
        <li>Illustrator</li>
      </ul>
    </div>

    <div class="up"></div>

    <footer>
      <ul>
        <li><a href="{{ index.html }}">home</a></li>
        <li>about</li>
        <li>contact</li>
        <li id="up-down">top of page</li>
      </ul>
    </footer>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js.js"></script>

</html>
