<html>

  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="essays-style.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="Macbeth.html"><li>Essays</li></a>
        <li>Photography</li>
        <li>Illustrator</li>
      </ul>
    </div>

    <div class="centered" id="content-wrap">
      <div class="content">

        <div class="essay">
          <ul>
            <li>{{ day-one }}</li>
            <li>{{ month-one }}</li>,
            <li>{{ year-one }}</li>
          </ul>
          <a href="{{ essay-one }}"><h1>{{ title-one }}</h1></a>
          <p>{{ subtitle-one }}</p>
        </div>

        <div class="essay">
          <ul>
            <li>{{ day-two }}</li>
            <li>{{ month-two }}</li>,
            <li>{{ year-two }}</li>
          </ul>
          <a href="{{ essay-two }}"><h1>{{ title-two }}</h1></a>
          <p>{{ subtitle-two }}</p>
        </div>

      </div>
    </div>

    <footer>
      <ul>
        <li><a href="index.html">home</a></li>
        <li><a href="about.html">about</a></li>
        <li><a href="contact.html">contact</a></li>
        <li id="up-down">top of page</li>
      </ul>
    </footer>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js.js"></script>

</html>
