<html>

  <head>
    <meta charset="UTF-8" />
    <title>Ari Navetta | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="essays-style.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="essays.html"><li>Writing</li></a>
        <a href="painting.html"><li>Painting</li></a>
        <a href="photography.html"><li>Photography</li></a>
      </ul>
    </div>

    <div class="up"></div>

      <div style="padding: 6% 0 0 4%; height: 100%;">

        <h1 class="content-heading">Writing</h1>

        <div class="essay">
          <a href="essay1.pdf"><h1>{{ title-one }}</h1></a>
        </div>

        <div class="essay">
          <a href="essay2.pdf"><h1>{{ title-two }}</h1></a>
        </div>

        <div class="essay">
          <a href="essay3.pdf"><h1>{{ title-three }}</h1></a>
        </div>

        <div class="essay">
          <a href="essay4.pdf"><h1>{{ title-four }}</h1></a>
        </div>

      </div>

      <footer>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>Copyright @ Ari Navetta 2020</li>
        </ul>
      </footer>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js.js"></script>

</html>
