<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="home-style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>

    <div class="menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="essays.html"><li>Essays</li></a>
        <li>Photography</li>
        <li>Illustrator</li>
      </ul>
    </div>

    <div class="up"></div>

    <div class="centered" id="content-wrap">
      <div class="feature centered" id="header">
        <h1><a href="index.html">Ari Navetta</a></h1>
        <div class="down centered" id="down"></div>
      </div>

      <div class="feature centered" id="essay">
        <h1><a href="essay-main.html">Writing</a></h1>
        <div class="down centered"></div>
      </div>

      <div class="feature centered" id="photography">
        <h1><a href="">Photography/Illustrator?</a></h1>
        <div class="down centered"></div>
      </div>

      <div class="feature centered" id="painting">
        <h1><a href="painting.html">Painting</a></h1>
        <div class="down centered" id="bottom"></div>
      </div>
    </div>

    <footer>
      <ul>
        <li><a href="index.html">home</a></li>
        <li><a href="about.html">about</a></li>
        <li><a href="contact.html">contact</a></li>
        <li id="up-down">top of page</li>
      </ul>
    </footer>


        <!-- <div class="centered">
          <div class="quote-content">
            {{ quote-content }}
          </div>
        </div> -->




  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="jsHome.js"></script>
  <script src="js.js"></script>

</html>
