<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ari Navetta | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="home-style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>

    <div class="menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="essays.html"><li>Writing</li></a>
        <a href="painting.html"><li>Painting</li></a>
        <a href="photography.html"><li>Photography</li></a>
      </ul>
    </div>

    <div class="up"></div>

    <div id="content-wrap">
      <div class="centered">
        <div class="feature centered" id="header">
          <h1><a href="index.html">Ari Navetta</a></h1>
          <div class="down centered" id="down"></div>
        </div>

        <div class="feature centered" id="about">
          <h1><a href="about.html">About</a></h1>
          <div class="down centered"></div>
        </div>

        <div class="feature centered" id="writing">
          <h1><a href="essays.html">Writing</a></h1>
          <div class="down centered"></div>
        </div>

        <div class="feature centered" id="painting">
          <h1><a href="painting.html">Painting</a></h1>
          <div class="down centered"></div>
        </div>

        <div class="feature centered" id="photography">
          <h1><a href="photography.html">Photography</a></h1>
        </div>
      </div>

    </div>

    <footer style="position: absolute; bottom: -410%">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Copyright @ Ari Navetta 2020</li>
      </ul>
    </footer>




  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="jsHome.js"></script>
  <script src="js.js"></script>

</html>
