<html>

  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="home-alt-style.css">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
  </head>

<body>

  <div class="menu1">
    <ul>
      <a href="index.html"><li>Home</li></a>
      <a href="about.html"><li>About</li></a>
      <a href="essays.html"><li>Essays</li></a>
      <li>Photography</li>
      <li>Illustrator</li>
    </ul>
  </div>

  <div class="centered" id="content-wrap">
    <div class="feature centered" id="header">
      <h1><a href="index.html">Ari Navetta</a></h1>
      <div class="next"></div>
    </div>

    <div class="feature centered" id="essay">
      <h1><a href="essay-main.html">Writing</a></h1>
      <div class="next"></div>
    </div>
  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="jsHome-alt.js"></script>
<script src="js.js"></script>

</html>
