<html>

  <head>
    <meta charset="UTF-8" />
    <title>Ari Navetta | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="essays.html"><li>Writing</li></a>
        <a href="painting.html"><li>Painting</li></a>
        <a href="photography.html"><li>Photography</li></a>
      </ul>
    </div>

    <div class="up"></div>

    <div style="padding: 5% 0 5% 5%">
      <h1 class="content-heading">Painting</h1>
      <div style="justify-content: center;" class="row">
        <img class="column" src="painting1.png" height="50%">
        <img class="column" src="painting2.png" height="50%">
        <img class="column" src="painting6.png" height="100%">
        <img class="column" src="painting3.png" height="100%">
        <img class="column" src="painting4.png" height="50%">
        <img class="column" src="painting5.png" height="50%">
      </div>
    </div>

    <footer>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Copyright @ Ari Navetta 2020</li>
      </ul>
    </footer>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js.js"></script>

</html>
