.content {
  margin-top: 8%;
}

.works-cited {
  line-height: 2em;
  margin-top: 5%;
}
.works-cited h1 {
  font-family: 'Playfair Display';
  font-size: 14pt;
  font-weight: normal;
  color: #104B80;
}
.source p {
  text-indent: 2em;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 14pt;
  color: #104B80;
}
.source p:first-of-type {
  text-indent: 0;
}
