@import 'https://fonts.googleapis.com/css?family=Catamaran|Playfair+Display|Sorts+Mill+Goudy|Vesper+Libre|Vollkorn';

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #F9FAF9;
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}
.centered {
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 0.75%;
}
body::-webkit-scrollbar-track {
  background-color: #F9FAF9;
}
body::-webkit-scrollbar-thumb {
  background-color: #68BBD2;
}

header {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px solid #3EA5C2;
  border-bottom: 2px solid #3EA5C2;
}
header::after {
  background-image: url("Background.png");
  background-position-y: -20em;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header h1 {
  margin-top: 20%;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 60pt;
  color: white;
}
header h1:before, header h1:after {
  content: " ";
  border: 1px solid #3ea5c2;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}


.menu {
  display: none;
  position: fixed;
  height: 7%;
  width: 100%;
  background-color: #699b69;
}
.menu ul li {
  display: inline;
  text-decoration: none;
  margin-right: 2%;
  color: #F9FAF9;
  font-family: 'Catamaran', sans-serif;
}


.down {
  position: fixed;
  top: 90%;
	width: 25px;
	height: 25px;
	border-left: 2px solid #195319;
	border-bottom: 2px solid #195319;
	transform: rotate(-45deg);
}


.back-to-top {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 4%;
  width: 20px;
  height: 20px;
  border-left: 2px solid #195319;
	border-bottom: 2px solid #195319;
	transform: rotate(135deg);
}

.quote-content {
  quotes: """ """;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 28pt;
  color: #227DC2;
  line-height: 1.5em;
  padding: 1em 0;
}
.quote-content:before {
  content: open-quote;
  font-family: 'Catamaran', sans-serif;
  font-size: 48pt;
  color: #043E6B;
}
.quote-content:after {
  content: close-quote;
  font-family: 'Catamaran', sans-serif;
  font-size: 48pt;
  color: #043E6B;
}

.content {
  margin-top: 60%;
  width: 80%;
  text-align: left;
  line-height: 1.75em;
  text-indent: 2%;
}
.content-text-main {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 14pt;
  color: #104B80;
}
.content-text-main::first-letter {
  font-size: 36pt;
}
.content-heading {
  padding-bottom: 0.25%;
  line-height: 1em;
  font-family: 'Playfair Display', serif;
  font-size: 32pt;
  font-weight: normal;
  color: #3E73A3;
}
.content-heading::after {
  content: " ";
  display: block;
  margin-bottom: 15px;
  border: 1px solid #3ea5c2;
}


footer {
  height: 7%;
  background-color: #699b69;
}
footer p {
  width: 30%;
  font-family: 'Vesper Libre', serif;
}
footer ul {
  /* float: right; */
  margin-left: 50%;
  width: 70%;
}
footer li {
  display: inline;
  margin-right: 2%;
  font-family: 'Vesper Libre', serif;
}
