@import 'https://fonts.googleapis.com/css?family=Catamaran|Playfair+Display|Sorts+Mill+Goudy|Vesper+Libre|Vollkorn';

body {
  margin: 0;
  background-color: #F9FAF9;
  overflow-x: hidden;
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}
a[href^="https://"], a[href^="https://"]:visited, a[href$=".pdf"], a[href$=".pdf"]:visited {
  text-decoration: none;
  color: #3E73A3;
}
.centered {
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 0.75%;
}
body::-webkit-scrollbar-track {
  background-color: #F9FAF9;
}
body::-webkit-scrollbar-thumb {
  background-color: #68BBD2;
}


.menu {
  position: fixed;
  height: 7%;
  width: 100%;
  background-color: #699b69;
  z-index: 1;
}
.menu ul li {
  display: inline;
  text-decoration: none;
  margin-right: 2%;
  color: #F9FAF9;
  font-family: 'Catamaran', sans-serif;
}


.up {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 4%;
  width: 20px;
  height: 20px;
  border-left: 2px solid #195319;
	border-bottom: 2px solid #195319;
	transform: rotate(135deg);
  z-index: 2;
}

.column {
  float: left;
  width: 45%;
  margin-top: 5%;
}
.column:nth-of-type(2n) {
  margin-left: 5%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}



.content {
  line-height: 1.75em;
  padding: 4% 0 0 4%;
}
.content-text-main {
  font-family: 'Catamaran', serif;
  font-size: 14pt;
  color: #293629;
  margin-top: -1em;
}
.content-heading {
  line-height: 1em;
  font-family: 'Vollkorn', serif;
  font-size: 45pt;
  font-weight: normal;
  color: #3E73A3;
}


footer {
  height: 10%;
  width: 100%;
  background-color: #699b69;
  line-height: 3.5em;
}
footer ul li {
  display: inline;
  margin-right: 2%;
  color: #F9FAF9;
  font-family: 'Catamaran', sans-serif;
}
